{{define "base"}}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Debut Web-application</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <h1><a href="/">komardinec/debutapp</a></h1>
        </header>
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer>Author: <a href="https://github.com/komardinec">komardinec</a></footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}